<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/meyers_reset.css">
    <link rel="stylesheet" href="/css/hallows.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="wrapper">

    <header>
      <a href="/"><h1 class="logo">Snippin</h1></a>
      {{#name}}<h1>Welcome, {{.}}</h1>{{/name}}
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/snippet/create"><li>Create Snip</li></a>
        <a href="/"><li>Profile</li></a>
        <a href="/account/login"><li>Login</li></a>
        <a href="/account/logout"><li>Logout</li></a>
      </ul>
    </header>

    <section class="home-main-content">
      <form class="form" action="/search" method="get">
        <h1>Find some code:</h1>
        <input type="text" name="search" value="" placeholder="Search by tag name">
        <button>Get Snippin!</button>
      </form>

      <div class="search-results">
        {{#code}}
          <div class="single-result">
            <h2>{{title}}</h2>
            <h2>{{tags}}</h2>
            <div id="editor">{{codeSnippet}}</div>
          </div>
        {{/code}}
      </div>
    </section>


    </section>
    <script src="/js/ace-builds-master/src-noconflict/ace.js" charset="utf-8"></script>
    <script src="../src-noconflict/ext-language_tools.js"></script>
    <script>

      var editor = ace.edit("editor");
      // var beautify = ace.require("ace/ext/beautify");
      // beautify.beautify(editor.session);
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
      editor.setOptions({
          enableBasicAutocompletion: true,
          enableSnippets: true,
          enableLiveAutocompletion: false
      });
      editor.getSession().on('change', function(e) {
        var code = editor.getValue();
        document.querySelector('.snippet').value = code
      });
    </script>
  </body>
</html>
