<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/meyers_reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create Snippin</title>
  </head>
  <body>
    <section class="wrapper">

    <header>
      <a href="/"><h1 class="logo">Snippin</h1></a>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/"><li>Create Snip</li></a>
        <a href="/"><li>Profile</li></a>
        <a href="/account/login"><li>Login</li></a>
        <a href="/account/logout"><li>Logout</li></a>
      </ul>
    </header>

    <!-- <form class="snippetForm" action="/snippet/submit" method="post">
      <h1>Start Snippin!</h1>
      <input type="text" name="title" value="" placeholder="title">
      <input type="text" name="tags" value="" placeholder="tags">
      <input type="text" name="code" value="" placeholder="Start coding!">

      <button>Submit</button>
    </form> -->

    <section class="snippet-main">
      <form class="form" id="snippetForm" action="index.html" method="post">
        <h1>Start Snippin!</h1>
        <input type="text" name="" value="" placeholder="title">
        <input type="text" name="" value="" placeholder="tags">
        <div id="editor">
          Start coding!
        </div>
      </form>
    </section>






    </section>
  <script src="/js/ace-builds-master/src-noconflict/ace.js" charset="utf-8"></script>
  <script src="../src-noconflict/ext-language_tools.js"></script>
  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });
  </script>
  </body>
</html>
