
/*=== Fonts ===*/
@import url(https://fonts.googleapis.com/css?family=Lobster);
/*  font-family: 'Lobster'; */


/*=== RESET ===*/
h1,h2,h3,h4,h5,p,li{
  color: black;
}

input, button{
  border:none;
}

h1{
  font-family: 'Lobster';
}

.wrapper{
  margin: 0 auto;
  background: rgb(40, 42, 54);
  min-height: 100vh;
}

/*=================== HEADER ======================*/
header{
  height: 11vh;
  padding: 0 20px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 10px rgb(102, 217, 239);
}

.logo{
  color: orange;
  font-size: 23px;
}

header > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

header > h1{
  color: black;
}

header > ul > a{
  color: black;
  font-family: 'Lobster';
}





/*=================== HOMEPAGE ======================*/

.home-main-content{
  height: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.form{
  height: 25%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form > h1{
  font-size: 40px;
  color: orange;
  margin-bottom: 10px;
}

.form > h1::before{
  content: "<>";
  color: white;
}
.form > h1::after{
  content: "</>";
  color: white;
}

.form > input{
  color: grey;
  text-align: center;
  outline: none;
  border: none;
  background-color: rgb(40, 42, 54);
  font-size: 20px;
  margin: 10px 0;
}

.form > input:focus{
  color: grey;
}

.form > button{
  margin: 10px 0;
  width: 85px;
  color: white;
  font-family: 'Lobster';
  border: 1px solid rgb(102, 217, 239);
  background-color: rgb(40, 42, 54);
}

.form > button:hover{
  border: 1px solid white;
}

/*------ SEARCH RESULTS --------*/
.search-results{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.single-result{
  width: 20%;
  margin: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.single-result #editor{
  width: 100%;
}

.single-result h2{
  color: white;
  font-family: 'Lobster';

}


/*=================== LOGIN PAGE ======================*/


#loginForm{
  height: 40%;
}

#loginForm p{
  font-size: 12px;
  font-family: 'Lobster';
  color: orange;
  font-weight: lighter;
}

#loginForm p:hover{
  color: rgb(102, 217, 239);
}

#loginForm div{
  margin-top: 10px;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*=================== SIGNUP PAGE ======================*/


#signupForm{
  height: 50%;
}

#snippetForm button{
  margin-bottom: 20px;

}


/*=================== SNIPPET PAGE ======================*/
.snippet-main{
  height: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.snippet-main h1{
  font-size: 40px;
  color: orange;
}

#snippetForm{
  height: 100%;
}

#editor{
  font-size: 10px;
  height: 230px;
  width: 150%;

  border: solid 1px orange;
}


.snippet{
  display: none;
}
